BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterControlStatement: true
  AfterEnum: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
AccessModifierOffset: -2
AlignConsecutiveAssignments: true
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
